form {
    flex: 1;
    padding: 20px;
}

#login-title {
    text-align: center;
    font-size: 2em;
}

#login-register-account {
    text-align: center;
    font-size: 1.3em;
}

.form-input {
    font-size: 2em;
}

#login-space {
    flex: 1;
}

.error-text {
    margin-bottom: 4px;
}

.form-error {
    border: 1px solid red;
}