:root {
    --primary-color: #263238;
    --primary-color-light: #4f5b62;
    --primary-color-dark: #000a12;

    --primary-color-on: #ffffff;
    --primary-color-light-on: #ffffff;
    --primary-color-dark-on: #ffffff;

    --secondary-color: #0d47a1;
    --secondary-color-light: #5472d3;
    --secondary-color-dark: #002171;

    --secondary-color-on: #ffffff;
    --secondary-color-light-on: #000000;
    --secondary-color-dark-on: #ffffff;


    --card-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}