* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffcc80;
    --primary-color-light: #ffffb0;
    --primary-color-dark: #ca9b52;

    --primary-color-text: #000000;
    --primary-color-light-text: #000000;
    --primary-color-dark-text: #ffffff;

    --secondary-color: #ff6e40;
    --secondary-color-light: #ffa06d;
    --secondary-color-dark: #c53d13;

    --secondary-color-text: #000000;
    --secondary-color-light-text: #000000;
    --secondary-color-dark-text: #ffffff;
}

html {
    background-color: white;
}
#header {
    background-color: var(--primary-color-dark);
    display: flex;
    width: 100%;

    justify-content: space-around;

    padding: 10px 0px;

    margin-bottom: 10px;
}

.header-item {
    font-size: 1.4em;
    text-align: center;
    color: white;
}

.header-item:link {
    text-decoration: none;
}

.header-item:visited {
    text-decoration: none;
}

.header-item:hover {
    text-decoration: underline;
    background-color: #aaaaaa;
}

#header-left {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#header-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-right .header-item {
    height: 100%;
    font-size: 1em;
}

#header-right .header-item > p {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 100%;
}

#content {
    margin: 10px 0px;
    margin-bottom: 40px;
}

.footer-item {
    font-size: 1.1em;
    padding: 10px;
}

.header-item:active {
    text-decoration: underline;
}

#footer {
    background-color: var(--primary-color-light);
    color: var(--primary-color-light-text);
    width: 100%;
    
    position: fixed;
    bottom: 0;

    margin-top: 10px;
}

.card {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-up {
    box-shadow: 0 -3px 6px rgba(0,0,0,0.16), 0 -3px 6px rgba(0,0,0,0.23);
}

.card-hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}