* {
    margin: 0;
    padding: 0;
}

:root {
    --header-background-color: #666666;
    --footer-background-color: #666666;
}

#container {

}

#header {
    background-color: var(--header-background-color);
    display: flex;
    width: 100%;

    justify-content: space-around;

    padding: 10px 0px;

    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

#header-home {
}

.header-item {
    font-size: 1.4em;
    text-align: center;
    color: white;
}

.header-item:link {
    text-decoration: none;
}

.header-item:visited {
    text-decoration: none;
}

.header-item:hover {
    text-decoration: underline;
    background-color: #aaaaaa;
}

#header-left {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
}

#header-right {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#header-right .header-item {
    height: 100%;
    font-size: 1em;
}

#header-right .header-item > p {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 100%;
}

#content {
    margin: 10px 0px;
    margin-bottom: 40px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
}

.form > * {
    width: 300px;

    border-radius: 4px;
    border: 2px solid black;
    padding: 10px;

    text-align: center;

    margin: 4px;
}

.form-input-error {
    border: 2px solid red;
}

.form input[type=submit] {
    color: black;
    background-color: #FF00FF;
    border: none;

    border-radius: 4px;
}

.footer-item {
    font-size: 1.1em;
    padding: 10px;
}

.header-item:active {
    text-decoration: underline;
}

#footer {
    background-color: var(--footer-background-color);
    color: white;
    width: 100%;
    
    position: fixed;
    bottom: 0;

    border-top: 1px solid black;
    margin-top: 10px;
}