#post-search-result {
    width: 600px;
    text-align: center;

    font-size: 20px;
    padding: 10px;

    margin: 0 auto;

    border-radius: 10px;    
    margin-bottom: 10px;

    background-color: var(--primary-color);
    color: var(--primary-color-on);
}

#post-search-result p {
    padding-left: 4px;
}

#post-search-result span {
    font-weight: bold;
    font-size: 25px;
    padding-left: 4px;
}

#post-header {
    width: 600px;    
    margin: 0 auto;
    
    height: 50px;
    background-color: var(--primary-color);
    color: var(--primary-color-on);
    margin: 0 auto;

    border-radius: 10px;
}

#post-header .btn {
    font-size: 12px;
    height: 30px;
    margin-top: 10px;
    margin-left: 10px;
}



#post-header form {
    height: 100%;
    margin-left: 2px;

    display: flex;
    justify-content: center;
}

#post-new-post-button {
    justify-self: flex-end;
}

#post-search-bar {
    position: relative;
    height: 100%;
    display: inline-block;

    z-index: 0;
}

#post-search-bar svg {
    margin: auto;

    position: absolute;
    top: 50%;   
    left: 5px;

    transform: translateY(-50%);
}

#post-search-bar input {
    border: none;
    height: 30px;
    width: 250px;

    margin: 10px 10px 0px 0px;

    font-size: 15px;
    padding-left: 30px;
    padding-right: 10px;

    border-radius: 10px;
}

#post-search-bar input:focus {
    outline: none;
}

#post-search-sort {
    height: 30px;
    margin-top: 10px;

    border-radius: 10px;
}

#post-search-sort:focus {
    outline: none;
}

#view-post {
    width: 960px;
    margin: 0 auto;

    background-color: white;
    color: black;

    border-radius: 10px;

    margin-top: 20px;
}

#view-post hr {
    margin-top: 5px;
    border-color: var(--primary-color-light-on);
}

#view-post-name{
    font-size: 2em;
    text-align: center;

    padding-top: 10px;
}

#view-post-user {
    text-align: center;
}

#view-post-content {
    margin-top: 0px;
    padding: 20px;
    text-align: center;
}

#posts {
    width: 960px;
    background-color: white;
    color: black;

    border-radius: 10px;

    display: grid;
    grid-template-columns: 350px 350px;
    grid-gap: 80px;
    margin: 0 auto;

    margin-top: 10px;

    justify-content: center;
}
.post {
    width: 350px;
    background-color: var(--primary-color-light);
    color: var(--primary-color-light-on);

    justify-self: center;
    margin: 10px 0px;

    border-radius: 10px;
}

.post:link {
    color: black;
    text-decoration: none;
}

.post:visited {
    text-decoration: none;
}

.post:hover {
    text-decoration: none;
}

.post #post-name:hover {
    text-decoration: underline;
}

.post #post-name:active {
    text-decoration: none;
}

.post:active {
    text-decoration: none;
}

#post-img {
    width: 100%;
    height: auto;;
    display: inline-block;

    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#post-name {
    font-size: 15px;
    width: 99%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden;

    padding: 5px 0px 10px 5px;
    padding-left: 10px;

}

#post-author {
    font-size: 0.9em;
    padding: 10px;
    padding-top: 5px; 

}

#post-author-name {
    color: var(--secondary-color-dark);
    text-shadow: 0px 0px 10px darkgray;
}