#info {
    width: 960px;
    margin: 0 auto;
    padding: 20px;

    background-color: var(--primary-color-light);
    color: var(--primary-color-light-on);

    display: flex;
}

#info-right {
    margin-left: 15px;
}

#info-right > * {
    padding: 7px 0px;
}

#logout {
    font-size: 15px;

    justify-self: end;
    align-self: flex-end;
}