#info {
    width: 960px;
    margin: 0 auto;
    padding: 20px;

    background-color: white;
    color: black;

    display: flex;

    position: relative;
}

#info img {
    border: 1px solid black;
}

#info-right {
    margin-left: 15px;
}

#info-right > * {
    padding: 7px 0px;
}

#logout {
    position: absolute;
    bottom: 20px;
    /*right: 20px;*/
    left: 30%;

    font-size: 15px;

    height: 30px;
    width: 90px;
}

#change-password input {
    width: 300px;
}

#change-password .form-input-group {
    margin-bottom: 25px;
}

#change-password {
    position: absolute;
    right: 10px;
    bottom: 0;

    margin-top: 6px;
    justify-self: flex-end;
}

#change-password-button {
    font-size: 15px;
    height: 30px; 
    width: 170px;

    margin-bottom: 20px;
    
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

