#info {
    width: 960px;
    margin: 0 auto;
    padding: 20px;

    background-color: var(--primary-color-light);
    color: var(--primary-color-light-on);

    display: flex;

    position: relative;
}

#info-right {
    margin-left: 15px;
}

#info-right > * {
    padding: 7px 0px;
}

#logout {
    position: absolute;
    bottom: 20px;
    right: 20px;

    font-size: 15px;

    height: 30px;
    width: 90px;
}