form {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;

    padding: 20px;
}

p {
    text-align: center;
    font-size: 2em;
}

#login-register-account {
    font-size: 1.3em;
}

input {
    font-size: 2em;
    border-radius: 5px;

    padding: 10px;

    margin: 10px 0px;
}

#login-space {
    flex: 1;
}

input[type="submit"] {
    padding: 5px;
}

@media all and (min-width: 960px) {
}