:root {
    /*--primary-background-color: #ffa726;
    --primary-background-color-light: #ffd95b;
    --primary-background-color-dark: #c77800;

    --primary-background-color-on: #000000;
    --primary-background-color-light-on: #000000;
    --primary-background-color-dark-on: #000000;

    --secondary-background-color: #ff7043;
    --secondary-background-color-light: #ffa270;
    --secondary-background-color-dark: #0e0b0a;

    --secondary-background-color-on: #000000;
    --secondary-background-color-light-on: #000000;
    --secondary-background-color-dark-on: #ffffff;*/
}

* {
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, i, svg {
    color: var(--primary-background-color-on);
}

.hide {
    display: none !important;
}

#container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

html,body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: var(--primary-background-color-dark);
}

header {
    width: 100%;
    z-index: 100;

    background: var(--primary-background-color);
}

#header-logo-small {
    display: inline;
}

#header-logo-big-container {
    display: none;

    background-color: var(--big-logo-container-color);
    padding-left: 10px;
    padding-top:  5px;
    border-radius: 5px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    /*box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);*/
}

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    padding: 5px 0px 0px 5px;
    margin-left: 10px;
}

.bar1,
.bar2,
.bar3 {
    width: 45px;
    height: 6px;
    background-color: var(--primary-background-color-dark-on);
    transition: 0.4s;
}

.bar2 {
    margin: 6px 0;
}

.bar3 {
    margin-top: 6px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: var(--primary-background-color);
}

/* Menu */

#profile-icon {
    position: relative;
}

#profile-icon-button svg {
    margin-right: 10px;
    margin-top: 10px;
    float: right;
}

#profile-icon svg:hover {
    cursor: pointer;
}

#profile-menu {
    display: block;

    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left: -170px;

    border-radius: 10px;
    z-index: 1000;
}

#profile-menu a {
    display: flex;
    flex-direction: row;
    padding: 10px;
    font-size: 1.3em;
    justify-content: space-between;
    align-items: center;

    position: relative;
    text-align: center;
}

#profile-menu svg {
    margin-left: 10px;
}

#profile-menu p {
    text-align: center;
    width: 100%;
}

#profile-menu a:link {
    text-decoration: none;
}

#profile-menu a:visited {
    text-decoration: none;
}

#profile-menu a:hover  {
    text-decoration: none;
    background-color: lightgray;
    
}

#profile-menu a:hover:first-child {
    border-radius: 10px 10px 0px 0px;
}

#profile-menu a:hover:last-child {
    border-radius: 0px 0px 10px 10px;
}

#profile-menu a:active {
    text-decoration: none;
}

#settings-icon {
    float: right;
    margin-left: 20px;
    margin-right: 10px;
}

#settings-icon:hover {
    cursor: pointer;
}

.forum-search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    background-color: var(--primary-background-color);

    padding: 10px;

    border-bottom: 2px solid black;
}

#forum-sort > p {
    display: inline-block;
    font-size: 1.4em;
}

.forum-sort-title {
    color: gray;
}

.forum-sort-selected {
    padding: 0px 5px;
    color: rgb(12, 70, 171);
}

.forum-sort-selected:hover {
    cursor: pointer;
}

.forum-sort-options {
    display: none;
    position: absolute;
    background-color: var(--secondary-background-color);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 24px;
    z-index: 1;

    left: 10px;

    list-style: none;
    text-align: center;

    border-radius: 10px;
}

.forum-sort-options > li {
    padding: 4px 0px;
    color: var(--secondary-background-color-on)
}

.forum-sort-option-item {
    display: flex;
    justify-items: flex-start;
}

.forum-sort-option-item p {
    margin-left: 10px;
}

#forum-search {
    display: none;
    width: 0;
    overflow: hidden;

    padding: 8px;
    border: none;
    background-color: var(--secondary-background-color-light);
    border-radius: 5px;
    font-size: 1.1em;
}

#forum-search-exit {
    display: none;

    align-self: center;
    margin-left: 5px;

    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: red;
}

#forum-search-exit .fa-times {
    width: 35px;
    height: 35px;
}

@keyframes test {
    from {
        margin-left: 100%;
        width: 300%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.forum-search-show {
    display: inline-block !important;
    animation: test 0.3s;
    animation-fill-mode: forwards;
}

.forum-search-show ~ #forum-search-icon {
    display: none;
}

.forum-search-show ~ #forum-search-exit {
    display: inline-block;
}

#forum-search-icon:hover {
    cursor: pointer;
}

.profile-posts-sort-options-down {
    display: block !important;
}

#create-new-post {
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: 60px;
    background-color: var(--primary-background-color);

    border-bottom: black 2px solid;
}

#create-new-post:hover {
    cursor: pointer;
}

#create-new-post p {
    width: 100%;
    font-size: 2em;
    text-align: center;
    line-height: 100%;
    transform: translateY(20%);
}

#create-new-post #add-img-container {
    background-color: var(--secondary-background-color-light);
    border-right: black 1px solid;
}

#create-new-post img {
    position: absolute;
    width: 45px;
    height: 45px;

    text-align: center;

    margin-left: 24px;
    margin-top: 8px;
    margin-bottom: 5px;

}

#all-forum-posts {
    display: flex;
    flex-direction: column;
}

.forum-post {
    background-color: var(--primary-background-color-light);
    border-bottom: 2px solid gray;
}

.forum-title p {
    padding: 10px;
}

.forum-author {
    padding: 10px;
}

.forum-author p {
    display: inline-block;
}

.forum-title:link {
    text-decoration: none;
}

.forum-title:visited {
    text-decoration: none;
}

.forum-title:hover {
    text-decoration: none;
}

.forum-title:active {
    text-decoration: none;
}

footer {
    align-self: flex-end;
    width: 100%;
    height: 20px;

    padding-top: 8px;
    padding-bottom: 8px;

    background: var(--primary-background-color);

    border-top: 1px solid black;
}

#footer-main p {
    padding-left: 8px;
    font-size: 1.2em;
    color: var(--primary-background-color-on);
}

#mobile-menu-list {
    position: absolute;
    height: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
    z-index: 100;
    background: var(--primary-background-color-light);

    padding: 0;
    width: 100%;
    
    transition: height 0.8s;

    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-bottom: black 2px solid;
}

#desktop-menu-list {
    display: none;

    justify-content: space-between;
}

.down {
    height: 150px !important;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}

.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 1 1 auto;

    text-decoration: none;
}

.menu-item a {
    display: inline-block;;
  
    width: 100%;

    text-align: center;
    font-size: 1.5em;
}


  
@media all and (min-width: 960px) {
    main {
        width: 960px;
        margin: 10px auto;
        border-radius: 10px;
    }

    header {
        width: 100%;
    }

    nav {
        padding: 10px 0px;
    }

    #header-main {
        width: 960px;
        margin: 0 auto;
    }

    #footer-main {
        width: 960px;
        margin: 0 auto;
    }

    .hamburger-menu {
        display: none;
    }

    #header-logo-small {
        display: none;
    }

    #header-logo-big-container {
        display: inline;
    }

    #profile-icon {
        width: 220px;
    }

    #profile-menu {
        left: 0px;
    }

    #mobile-menu-list {
        display: none;
    }

    #desktop-menu-list {
        display: flex;
    }

    .menu-item {
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    
        flex: 1 1 auto;
    
        text-decoration: none;
    }
    
    .menu-item a {
        display: inline-block;;
      
        width: 100%;
    
        text-align: center;
        font-size: 1.5em;
    }

    .forum-search-bar {
        border-radius: 10px;
        margin-bottom: 5px;
        border: none;
    }

    #create-new-post {
        border-radius: 10px;
        border: none;
        margin-bottom: 5px;
    }

    #all-forum-posts {
        background: var(--primary-background-color);
        border-radius: 10px;
        padding: 10px;
    }

    footer {
        border: none;
    }
}

/*@media all and (min-width: 768px) and (max-width: 960px) { 
    #desktop-menu {
        display: none;
    }
    
    #desktop-menu-list {
        display: none;
    }

    .menu-item {
        display: flex;
        justify-content: center;
        align-items: center;
    
        flex: 1 1 auto;
    
        text-decoration: none;
    }
    
    .menu-item a {
        display: inline-block;;
      
        width: 100%;
    
        text-align: center;
        font-size: 1.5em;
    }
    
    .menu-item:nth-child(even) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}*/

@media all and (min-width: 480px) and (max-width: 960px) {
    #desktop-menu {
        display: none;
    }
    
    #desktop-menu-list {
        display: none;
    }

    .menu-item:nth-child(even) {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
}
