:root {
    --primary-background-color: #ffa726;
    --primary-background-color-light: #ffd95b;
    --primary-background-color-dark: #c77800;

    --primary-background-color-on: #000000;
    --primary-background-color-light-on: #000000;
    --primary-background-color-dark-on: #000000;
}

* {
    margin: 0;
    padding: 0;
}

html,body {
    height: 100%;
}

body {
    background-color: var(--primary-background-color-light);
    padding-top: 80px;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;

    background: var(--primary-background-color-dark);
    padding: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.hamburger-menu {
    display: inline-block;
    cursor: pointer;
    padding: 5px 0px 0px 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 45px;
    height: 6px;
    background-color: #333;
    transition: 0.4s;
}

.bar2 {
    margin: 6px 0;
}

.bar3 {
    margin-top: 6px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

#menu-list {
    position: absolute;
    height: 0;
    
    z-index: 100;
    background: var(--primary-background-color-light);

    padding: 0;
    width: 100%;
    
    transition: height 0.8s;

    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.down {
    height: 150px !important;
}

.menu-item {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 1.5em;
    margin: 10px 0px;
    text-decoration: none;
}

.menu-item a {
    width: 50%;
}

.menu-item a:link {
    text-decoration: none;
}

.menu-item a:visited {
    text-decoration: none;
}

.menu-item a:hover {
    text-decoration: none;
}

.menu-item a:active {
    text-decoration: none;
}

#profile-icon {
    float: right;
}

#profile-icon:hover {
    cursor: pointer;
}

#settings-icon {
    float: right;
    margin-left: 20px;
    margin-right: 10px;
}

#settings-icon:hover {
    cursor: pointer;
}

main {
}

#all-forum-posts {
    display: flex;
    flex-direction: column;
}

.forum-post {
    background-color: var(--primary-background-color-light);
    border-bottom: 2px solid gray;
}

#forum-title p {
    padding: 10px;
}

#forum-author {
    padding: 10px;
}

#forum-author p {
    display: inline-block;
}

#forum-title:link {
    text-decoration: none;
}

#forum-title:visited {
    text-decoration: none;
}

#forum-title:hover {
    text-decoration: none;
}

#forum-title:active {
    text-decoration: none;
}

#create-new-post {
    width: 65px;
    height: 65px;
    background-color: green;
    position: fixed;
    bottom: 50px;
    right: 10px;

    border-radius: 100px;
}

#create-new-post img {
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

#container {
    display: relative;
    min-height: 100%;
}

footer {
    width: 100%;
    height: 20px;

    margin-top: 90px;

    padding-top: 8px;
    padding-bottom: 8px;

    background: var(--primary-background-color-dark);
    color: var(--primary-background-color-on-dark);
}

footer p {
    padding-left: 8px;
    font-size: 1.2em;
}

/* Desktop */
/*@media only screen and (min-width: 768px) {
    #forum-post-rate {
        width: 10%;
    }

    .rate img {
        width: 40%;
    }
}*/
  